name: Lint

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: QA
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: ["8.3", "8.4"]

    steps:
      - uses: actions/checkout@v6

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl
          coverage: none
          tools: composer:v2, cs2pr

      - name: Validate PHP syntax
        run: find . -name "*.php" -not -path "./vendor/*" -exec php -l {} \;

      - name: Validate composer.json
        run: composer validate --no-check-publish

      - run: composer install --no-progress --prefer-dist --optimize-autoloader

      - run: vendor/bin/phpcs -q --report=checkstyle | cs2pr

      - run: ./vendor/bin/phpstan analyse --error-format=checkstyle | cs2pr

      - uses: wordpress/plugin-check-action@v1
        if: matrix.php == '8.4'
